{{> Partials/Header }}

{{#if payload.deletedAt}}
<h1>Error</h1>
<p>Cannot log in: User has been deleted.</p>

User was deleted on {{payload.deletedAt}}

{{else}}


<h1>{{ payload.id }}</h1>
<p id="username">{{ payload.username }}</p>
<p id="email">{{ payload.email }}</p>

{{log isAuthenticated}}
{{#if isAuthenticated }}

<button>
    <a href="{{ path 'user/{id}' id }}">Edit User</a>
</button>

<form action="{{ path 'user/{id}' payload.id }}" method="POST" id="edit-user-form">
    <input type="hidden" name="method" value="PUT">
    <input type="text" name="username" id="username" placeholder="Enter Username"><br>
    <input type="text" name="email" id="email" placeholder="Enter Email Adress"><br>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br>
    <button>Save</button>
</form>

{{ log payload }}
<form action="{{ path 'user/{id}' payload.id }}" method="POST" id="delete-user-form">
    <input type="hidden" name="method" value="DELETE">

    <button class="delete-button">
        Delete User
    </button>
</form>

{{/if}}
{{/if}}


<button id="show-user-post-bookmarks-button" user-id="{{ payload.id}}" > show user post bookmarks</button>


<table id="user-post-bookmarks" >
    
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr post-id="{{ id }}">
            <td id="title"><a href="{{ path 'post/{id}' id }}">{{ title }}</a></td>
            <td id="createdAt">{{ createdAt }}</td>
            <td id="username">{{ user.username }}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
   
</table>

<button id="show-user-comment-bookmarks-button" user-id="{{ payload.id}}" > show user comment bookmarks</button>
<table id="user-comment-bookmarks" >
    
    <thead>
        <tr>
            
           <th>content</th>
           <th>title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
        <tr comment-id="{{ id }}">
            <td>{{this.content}}</td>
            <td>{{this.post.title}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.user.username}}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="show-user-post-votes-button" user-id="{{ payload.id}}" > show user post votes</button>


<table id="user-post-votes" >
    
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each postsVotes}}
        <tr post-id="{{ id }}">
            <td><a href="{{ path 'post/{id}' id }}">{{ title }}</a></td>
            <td>{{ createdAt }}</td>
            <td>{{ user.username }}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="show-user-comment-votes-button" user-id="{{ payload.id}}" > show user comment votes</button>
<table id="user-comment-votes" >
    
    <thead>
        <tr>
            
           <th>content</th>
           <th>title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each commentsVotes}}
        <tr comment-id="{{ id }}">
            <td>{{this.content}}</td>
            <td>{{this.post.title}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.user.username}}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="show-user-posts-button" user-id="{{ payload.id}}" > show user posts</button>


<table id="user-posts" >
    
   <thead>
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each userposts}}
        <tr post-id="{{ id }}">
            <td><a href="{{ path 'post/{id}' id }}">{{ title }}</a></td>
            <td>{{ createdAt }}</td>
            <td>{{ user.username }}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="show-user-comments-button" user-id="{{ payload.id}}" > show user comments</button>
<table id="user-comments" >
    
    <thead>
        <tr>
            
           <th>content</th>
           <th>title</th>
            <th>Date Created</th>
            <th>Written By</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each usercomments}}
        <tr comment-id="{{ id }}">
            <td>{{this.content}}</td>
            <td>{{this.post.title}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.user.username}}</td>
            {{#if deletedAt}}
            <td>Yes</td>
            {{else}}
            <td>No</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

{{> Partials/Footer }}
