{{> Partials/Header }}

<p id="category-title">{{ payload.title }}</p>
<p id="category-description">{{ payload.description }}</p>
{{#unless payload.deletedAt}}
{{#if isAuthenticated}}
<button>
    <a href="{{ path 'category/{id}/edit' payload.id }}">Edit Category</a>
</button>


<form action="{{ path 'category/{id}' payload.id }}" method="POST" id="delete-category-form">
    <input type="hidden" name="method" value="DELETE">

    <button>
        Delete Category
    </button>
</form>
{{/if}}
{{#if userId}}
<h1>New Post</h1>
<form action="{{ path 'post'}}" method="POST" id="new-post-form">
    <input type="text" name="userId" value={{userId}}>
    <input type="hidden" type="text" name="categoryId" value={{payload.id}}>
    <input type="text" name="title" placeholder="Enter Title">
    <select name="type" id="type">
        <option name="type"></option>
        <option value="Text">Text</option>
        <option value="URL">URL</option>
    </select>
    <textarea rows="4" cols="50" name="content" placeholder="Enter content"></textarea>
    <button>Create Post</button>
</form>
{{/if}}
{{/unless}}
<h1>Posts</h1>
<button>
    <a href="{{ path 'user/{id}' userId }}">show user</a>
</button>

{{log posts}}
{{#if posts.length}}
<table id="posts">
    {{#each posts}}
    <tr post-id="{{this.id}}">

        <td>{{this.title}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.user.username}}</td>
        <td>{{#if this.deletedAt}}Yes{{else}}No{{/if}}</td>
        <td class="post-votes" id="post-votes" post-id="{{this.id}}" voteState="un">{{this.votes}}</td>
        {{#if ../isAuthenticated}}

        <td>
            <button class="post-upvote-button" id="post-upvote-button" post-id="{{this.id}}" >
                Upvote Post</a>
            </button>
        </td>
        <td>
            <button class="post-downvote-button" id="post-downvote-button" post-id="{{this.id}}" voteState="{{this.voteState}}">
                Downvote Post</a>
            </button>
        </td>
        {{/if}}
        <td><button>
                <a href="{{ path 'post/{id}' id }}">Show Post</a>
            </button>
        </td>


        <!-- {{#if this.deletedAt}}
        <td></td>
        {{else}}
        <td><button>
                <a href="{{ path 'post/{id}' id }}">Show Post</a>
            </button>
        </td>
        {{/if}}-->
    </tr>

    {{/each}}
</table>

{{else}}
<p>There are no posts yet! Please make one using the form above.</p>
{{/if}}


{{>Partials/Footer }}